<acl>
    <page-services-sids>
        <name>Services: SELKS Intrusion Detection</name>
        <patterns>
            <pattern>ui/sids/*</pattern>
            <pattern>api/sids/*</pattern>
            <pattern>ui/diagnostics/log/suricata/*</pattern>
            <pattern>api/diagnostics/log/suricata/*</pattern>
        </patterns>
    </page-services-sids>
</acl>
