[Unit]
Description=CIC Flow meter Timer
Requires=cicflowmeter.service
#RefuseManualStart=no # Allow manual starts
#RefuseManualStop=no # Allow manual stops

[Timer]
Unit=cicflowmeter.service
#Every 8 hours
OnCalendar=*-*-* 03:00:00

[Install]
WantedBy=timers.target
