[Unit]
Description=MLflow Tracking Server
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=30
StandardOutput=file:/var/log/mlflow/mlflow.log
StandardError=file:/var/log/mlflow/error.log
User=root

# mlflow server --host $MLFLOW_HOST --backend-store-uri elasticsearch://$USER:$PASSWORD@$ELASTICSEARCH_HOST:$ELASTICSEARCH_PORT --port $MLFLOW_PORT --default-artifact-root $ARTIFACT_LOCATION
# mlflow server --host 0.0.0.0 --backend-store-uri elasticsearch://localhost:9200 --port 5000 --default-artifact-root /drl/artifacts

ExecStart=/usr/local/bin/mlflow server --host 0.0.0.0 --port 5000 --default-artifact-root /drl/artifacts

[Install]
WantedBy=multi-user.target