[Unit]
Description=RLLib ray cluster for serving ai model
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-failure
RestartSec=30
RemainAfterExit=true
StandardOutput=file:/var/log/ray/ray.log
StandardError=file:/var/log/ray/error.log
User=root

ExecStart=/usr/local/bin/ray start --head --node-ip-address 127.0.0.1 --address selks.ddns.net --port 6379 --temp-dir=/drl/tmp/ray/ --include-dashboard true --dashboard-host 0.0.0.0 --dashboard-port 8265 --gcs-server-port 8075 --object-manager-port 8076 --node-manager-port 8077 --min-worker-port 10002 --max-worker-port 19999
ExecStop=/usr/local/bin/ray stop --force

[Install]
WantedBy=multi-user.target
