<menu>
<!--    <Services>-->
<!--        <SIDS VisibleName="SELKS Intrusion Detection" cssClass="fa fa-shield fa-fw">-->
<!--            <Administration url="/ui/sids" />-->
<!--            <Log VisibleName="Log File" url="/ui/diagnostics/log/core/suricata" />-->
<!--        </SIDS>-->
<!--    </Services>-->
    <Reporting>
        <Kibana order="1" isExternal="Y" VisibleName="Kibana" url="http://selks.ddns.net/app/kibana" cssClass="fa fa-line-chart fa-fw" />
        <Evebox order="2" isExternal="Y" VisibleName="Eve box" url="http://selks.ddns.net/evebox" cssClass="fa fa-line-chart fa-fw" />
        <Hunt order="3" isExternal="Y" VisibleName="Hunt" url="http://selks.ddns.net/rules/hunt" cssClass="fa fa-line-chart fa-fw" />
        <RuleStats order="4" isExternal="Y" VisibleName="Rule Stats" url="http://selks.ddns.net/rules" cssClass="fa fa-line-chart fa-fw" />
    </Reporting>
    <NextGenerationIDPS order="40" VisibleName="Next Generation IDPS" cssClass="glyphicon glyphicon-fire">
        <AIModelManagement order="3" isExternal="Y" VisibleName="AI Model Management" url="http://selks.ddns.net:5000/#/models" cssClass="fa fa-exchange fa-fw" />
        <AIAgentTesting order="4" isExternal="Y" VisibleName="AI Agent Testing" url="http://selks.ddns.net:8089/" cssClass="fa fa-eye fa-fw" />
        <AIDeployment order="5" isExternal="Y" VisibleName="AI Deployment" url="http://selks.ddns.net:8265/" cssClass="fa fa-sitemap fa-fw" />
    </NextGenerationIDPS>
</menu>
