<menu>
    <NextGenerationIDPS>
        <Anomaly order="0" VisibleName="AI Training" url="/ui/anomaly" cssClass="fa fa-shield fa-fw" />
        <TrainingBenchmark order="1" isExternal="Y" VisibleName="Training benchmark" url="http://selks.ddns.net:6006/" cssClass="fa fa-line-chart fa-fw" />
    </NextGenerationIDPS>
</menu>
